<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie recommendation system</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <button class="recommend-button pure-button"
        onclick="window.location.href='{{ url_for( 'index') }}';"> Main Menu
</button>
</header>

<div class="content">
    {% block content %} {% endblock %}
</div>

</body>
</html>